#reserveModal {
    .modal-header {
        background-color: $color-mid;
        color: white;
    }
}

#loginModal {
    .modal-header {
        background-color: $color-mid;
        color: white;
    }
}

#reviewModal {
    .modal-header {
        background-color: $color-mid;
        color: white;
    }
}